*{
    margin: 0px;
    padding: 0px;
    color: white;
    
}

.fibra-optica-container{
    display: flex;
    justify-content: center;
    flex-direction: column;

    
    
}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
   
}
h1{
    border: 5px;
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 5px;

}
h5{
    color: black;
    font-size: 1.5rem;
}
.texto{
 
    margin: 10px;
    background:#0a8cf7;
    padding: 10px;
}